.tally>*{
    font-family: 'kOhO';
    color: rgb(88, 88, 88);
}
.tally{
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
    box-shadow: 0px 0px 5px rgb(92, 92, 92);
    position: absolute;
    right: 170px;
    top: 120px;
    background-color: rgb(250, 249, 250);
    padding: 30px;
}
.tally>h1{
    font-size: 1.1rem;
}
.tally__table{
    border-collapse: collapse;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 1rem !important;
}
.tally>table td{
    padding: 10px 20px;
}



.tally__ending{
    display: grid;
    grid-template-columns: 35% 65%;
}

.tally__ending{
    margin-top: 10px;
}
.tally__btn{
    height: 40px !important;
    background-color: rgb(255, 50, 122) !important;
    color: white !important;
}
.tally__btn__name{
    font-family: 'kOhO' !important;
    font-size: 0.8rem !important;
}


@media only screen and (max-width: 600px) {
    .tally{
        position: sticky;
        padding: 20px;
        margin-bottom: 30px !important;
        margin-left: 10px;
        margin-top: 75px !important;
        width: 85%;
        height: 270px;
    }
    .tally>h1{
        font-size: 1rem !important;
    }
    .tally__table{
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 1rem !important;
    }    
    
    .tally__ending{
        display: grid;
        grid-template-columns: 35% 65%;
        margin-top: -10px;
    }
    
    .tally__ending>h2{
        font-size: 1.2rem;
    }
    .tally__hr{
        visibility: hidden;
    }
    .tally__btn{
        font-size: 0.7rem !important;
        height: 45px !important;
        background-color: rgb(255, 50, 122) !important;
        color: white !important;
    }    
}