.Footer{
    background-color: rgba(15, 15, 15, 0.952);
    height: 350px;
    width: 100%;
}


.Footer__logo{
    color: rgb(255, 95, 151);
    font-size: 2rem;
    font-family: 'kOhO';
    margin-left: 40px;
    padding-top: 80px;
    margin-bottom: -30px;
}
.Footer__grid{
    margin: 50px 80px 50px 50px;
    display: flex;
    justify-content: space-between;
}
.Footer__1> h1, .Footer__2 > h1, .Footer__3> h1, .Footer__4> h1 {
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-family: 'kOhO';
    color: rgb(255, 95, 151);
    font-weight: 1000;
}

.Footer__1> h2, .Footer__2 > h2, .Footer__3> h2, .Footer__4> h2 {
    font-size: 0.9rem;
    color: wheat;
    font-family: 'kOhO';
}

.Footer__3__text{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .Footer{
        background-color: rgba(15, 15, 15, 0.952);
        height: 300px;
        width: 100%;
    }
    
    
    .Footer__logo{
        font-size: 1.5rem;
        margin-left: 20px;
        padding-bottom: 10px;
        padding-top: 30px;
        margin-bottom: -15px;
    }

    .Footer__grid{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
    .Footer__1> h1, .Footer__2 > h1, .Footer__3> h1, .Footer__4> h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .Footer__1> h2, .Footer__2 > h2, .Footer__3> h2, .Footer__4> h2 {
        font-size: 0.7rem;
        padding-left: 10px;
        padding-top: 2px;
    }
    
    .Footer__3__text{
        display: flex;
        text-align: center;
        margin-left: 60px;
    }
    .Footer__4__img{
        height: 10px !important;
        width: 170px !important;
    }
    .Footer__3__icon{
        font-size: 10px !important;
    }
  }