.userprofile__selector{
    align-items: center; 
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px !important;
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.userprofile__btn{
    padding: 10px !important;
    border: none !important;
    background-color: rgb(236, 229, 241) !important;
    margin-right: 10px !important;
}
.userprofile__active{
    background-color: #8c8c8c !important;
    color: white !important;
}

@media only screen and (max-width: 600px) {
    .userprofile{
       padding-top: 65px; 
    } 
    .userprofile__selector{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 20px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    
}